# OS Shit
.DS_Store

# Gradle
.gradle/
build/
run
gradlew
gradle/wrapper/gradle-wrapper.jar
.gradle-home/

# IDE
out/
.idea/
*.iml
.idea_modules/

# Agent
prompt/
.claude/
CLAUDE.md

# Logs
hs_err_pid*
